.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.product-container {
  border-right: 1px solid lightgray;
  margin-right: 5px;
  margin-left: 50px;
}
.search-container {
  background-color: rgba(0, 0, 0, 0.85);
  line-height: 50px;
  text-align: center;
}
.search-container input {
  width: 50%;
  height: 30px;
}

.cart-container button {
  background-color: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 200px;
  height: 26px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  border-radius: 3px;
  vertical-align: middle;
}
